@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

/* html, body {
  overflow-x: hidden;
} */

/* @keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 0.2;
  }
} */
.services-bullet {
    width: 10px;
    height: 10px;
    background-color: #1e3a8a;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services-bullet-active {
    background-color: #4fd1c5;
    width: 30px;
    border-radius: 5px;
}










@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }

  50% {
    transform: scale(1.05);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 0.2;
  }
}

.btn-sm {
  @apply px-4 py-2 text-sm font-medium rounded-md transition-colors;
}

.btn-outline-one {
  @apply border border-teal-500 text-teal-500 hover:bg-teal-500 hover:text-white;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .laptop-large {
    width: 800px;
    height: 600px;
  }

  .forBannerImg {
    width: 20rem; /* 320px */
    height: 20rem; /* 320px */
  }

  .forIcons {
    left: -3rem;
    gap: 1rem;
    padding: 0.75rem;
  }

  .iconSize {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .shazam {
    width: 2.5rem;   /* 40px */
    height: 2.5rem;  /* 40px */
  }

 
}

